<div class=page-info>
    <h2><i class='fa fa-cube'></i> <%= data.label %> <small>in <a href='/resources/<%= data.resource.uuid %>/'><%= data.resource.label %></a></small></h2>

    <div data-region=path></div>

    <p class=lead><%= data.description %></p>

    <ul class=list-unstyled>
        <li><strong title='type'><i class='fa fa-fw fa-code'></i> <%= data.type %></strong> type</li>
        <li><strong title='relationships'><i class='fa fa-fw fa-arrows-h'></i> <%= data.relationship_count %> relationships</strong> defined in this resource</li>
        <li><strong title='resources'><i class='fa fa-fw fa-cubes'></i> <%= data.resource_count %> resources</strong> include this component</li>
    </ul>
</div>

<div class=page-section>
    <div class=row>
        <div class=col-md-4>
            <h4>Properties</h4>
            <div data-region=properties></div>
        </div>

        <div class=col-md-4>
            <h4>Relationships</h4>
            <div data-region=relationships></div>
        </div>
        <div class=col-md-4>
            <h4>Sources</h4>
            <div data-region=sources></div>
        </div>
    </div>
</div>

<div class=page-section>
    <div class=row>
        <div class=col-md-6>
            <h4>Revisions</h4>
            <div data-region=revisions></div>
        </div>
        <div class=col-md-6>
            <h4>Timeline</h4>
            <div data-region=timeline></div>
        </div>
    </div>
</div>
