<div class='jumbotron'>
    <h1><i class='fa fa-book'></i> Almanac</h1>
    <p class=lead>HTML5 and JavaScript client to the <a href='https://github.com/cbmi/origins/'>Origins</a> service layer.</p>
</div>

<div class=row>
    <div class=col-md-6>
        <div class=highlight>
        <h3><i class='fa fa-cube'></i> Components</h3>

        <p>Everything is a component -- databases, files, columns, code, processes, web services, etc. Components are a model for representing these entities as coarse as a system or as granular as a piece of data.</p>
    </div>
    </div>

    <div class=col-md-6>
        <div class=highlight>
        <h3><i class='fa fa-arrows-h'></i> Relationships</h3>

        <p>Components rarely stand alone. Relationships are connections between components such as a referential constraint between columns in a relational database or a semantic link between two data elements in independent systems.</p>
    </div>
    </div>
</div>

<div class=row>
    <div class=col-md-6>
        <div class=highlight>
        <h3><i class='fa fa-cubes'></i> Resources</h3>

        <p>Resources provide structure and organization for related components, generally extracted from the same physical backend.</p>
    </div>
    </div>

    <div class=col-md-6>
        <div class=highlight>
        <h3><i class='fa fa-archive'></i> Collections</h3>

        <p>Collections are a named set of resources commonly created for a specific project or domain.</p>
    </div>
    </div>

</div>
